body{
  color: white;
}


.catg{
  width: 250px;
  border: 1px solid;
  height: 100px;
  position: relative;
  background: red;
} 

.slick-dots {
  bottom: -14px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-next {
  right: 8px;
}
.slick-prev{
  left: 8px;
  z-index: 99;

}
.cn {
  color: white;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 
} 


/* header  */
.ant-layout-header {
  background-color:  #640f26;
  padding: 0 50px;
  height: 64px;
  line-height: 64px;
}
.header{
  color: white;
  display: flex;
  justify-content: space-between;
  background-color:  #640f26;
  padding: 0 50px;
  height: 64px;
  line-height: 64px;
}
.header-logo{
  height: 64px;
}
 /* header */
 /* content */
    .item-menu{
      margin-top: 10px;
      display: flex;
      height: calc(97vh - 257px);
    }
 /* content */
 .product{
   margin-top: 10px;
   width: 70%;
   background: thistle;
   height: calc(97vh - 257px);
   /* overflow: auto; */
 }
 .cart{
   width: 28%;
   margin-top: 9px;
   margin-left: 10px;
   background: purple;
   height: calc(97vh - 240px);
   
 }
 .ant-card-grid {
  padding: 2px !important;
}

.cart-action{
  position: relative;
}
.cart-list{
  height: 55%;
    overflow: auto;
}

 
 .ant-card-body {
   
  -webkit-transition: padding .3s;
  transition: padding .3s;
  overflow: auto;
  padding: 0px !important;
  height: calc(97vh - 225px);
}
 
  .item-self{
    position: relative;
  }
  
  .item-price{

position: absolute;
top: 2px;
right: 2px;
width: 40%;
color: white;
background: #630f27;
  }
  .item-image{
    height: auto;
    /* max-width: 205px; */
    width: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    
  }

  .ant-card-grid{
    padding: 0px;
  }
  

  .item-name {
    color: white;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 4px);
    margin-bottom: 0px;
    padding-top: 5px;
    background: rgba(0,0,0,0.5);
    padding-bottom: 5px;
    /* text-align: center; */
}

.Card-buttons{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.Card-buttons .ant-card-grid{
  width: 50%;
  position: relative;
    height: 75px;
    text-align: center;
    
}
.cart-button-name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
}

.cart-cash{
background: #9178E0}
.cart-card{
background: #FC936F
} 
.cart-cancel{
  background:#F9506B;
} 
.cart-note{
  background: #49DEAD
}
.cart-hold{
  background: rgb(120, 156, 224)}


.cartlist{
    display: flex;
    /* padding: 2px 17px; */
    padding-top: 16px;
    border-bottom: 1px solid #3333333b;
    -ms-flex-pack: justify;
    /* justify-content: space-around; */
}
.cartlist p{
  padding-left: 10px;
  width:50%;

}
.cartlistdiv{
  width:25%;
 
  
}
.cartlistdiv i{
  font-size: 18px;
  padding:3px;
  color: #630f27;
  
}
.cartlistprice i{
color:#dc3545!important;
padding-left:5px;
}
.cartlistprice{
  width: 25%;
}

.taxpay{
  display: flex;
  padding: 0px 12px;
  border-bottom: 1px dashed;
  justify-content: space-between;
}
.centerme{
  justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.cart-cart{
 height: 50px;
  border-bottom: 1px dotted black;
  display: flex;
  justify-content: space-between;
}
.cart-cart h1{
  
  padding-left: 3%;
    padding-top: 2%;
 
}
.cart-cart button{
  margin-top: 3%;
    margin-right: 2%;
}
.head-example{
  background: chocolate
}
.hold-list{
  width: 100px;
}
.refresh{
  padding-right: 10px;
}
.ant-btn-dashed {
  color: #630f27;
  background-color: #fafafa;
  border-color: #d9d9d9;
  border-style: dashed;
}
.product-image{
  height: 152px;
    width: 20%;
    background-size: cover !important;
    background-position: center center !important ;
}